body{
    font-family: sans-serif;
    width: 95%;
    height: 90vh;
    background-color:whitesmoke;
    
}
h2{
    text-align: center;
    text-decoration: underline;
}
ul{
    color:white;
    text-align: right;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    li{
        display: inline;
       
        padding: 30px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
       color:white;
      
       } 
        
a{
    color:black;
    text-decoration-line: none;
}

.git{
    width: 80px;
    height: 80px;
    object-fit: cover;
}
.php{
    width: 100px;
    height: 80px;
    object-fit: cover;
}
.skills{
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 10px;
    margin-top: 100px;
}
img{
    padding-left: 100px;
    padding-top: 50px;
    width: 200px;
}